@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Blue: hsl(246, 80%, 60%);
  --Soft-orange: rgb(255, 140, 102); /*(work)*/
  --Soft-blue: hsl(195, 74%, 62%); /*(play)*/
  --Light-red: hsl(348, 100%, 68%); /*(study*/
  --Lime-green: hsl(145, 58%, 55%); /*(exercise)*/
  --Violet: hsl(264, 64%, 52%); /*(social)*/
  --Yellow: hsl(43, 84%, 65%); /*(self care)*/
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--Very-dark-blue);
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}
div {
  font-size: 3rem;
}

.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 25.5rem);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3rem;
  row-gap: 1.5rem;
  height: 51.8rem;
  overflow: hidden;
}
.card-person {
  grid-row: 1/-1;
  background-color: var(--Desaturated-blue);
  padding: 3rem;
}
.card__image {
  background-repeat: no-repeat;
  background-position: top -8px right 20px;
  border-radius: 1.6rem 1.6rem 0 0;
  height: 6rem;
}

.card__text {
  padding: 3rem;
  color: #fff;
  border-radius: 16px;
  background-color: var(--Dark-blue);
  transform: translateY(-1.5rem);
}
.card__more {
  background-color: var(--Pale-Blue);
  display: inline-block;
  height: 2rem;
  width: 2rem;
  -webkit-mask-image: url(images/icon-ellipsis.svg);
  mask-image: url(images/icon-ellipsis.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  cursor: pointer;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__time {
  font-size: 5.6rem;
  font-weight: 300;
  line-height: normal;
  margin-top: 2.4rem;
}
.card__total {
  color: var(--Pale-Blue);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
}
.card-activities--orange .card__image {
  background-image: url(images/icon-work.svg);
  background-color: var(--Soft-orange);
}
.card-activities--blue .card__image {
  background-image: url(images/icon-play.svg);
  background-color: var(--Soft-blue);
}
.card-activities--red .card__image {
  background-image: url(images/icon-study.svg);
  background-color: var(--Light-red);
}
.card-activities--green .card__image {
  background-image: url(images/icon-exercise.svg);
  background-color: var(--Lime-green);
}
.card-activities--purple .card__image {
  background-image: url(images/icon-social.svg);
  background-color: var(--Violet);
}
.card-activities--yellow .card__image {
  background-image: url(images/icon-self-care.svg);
  background-color: var(--Yellow);
}
