@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Blue: hsl(246, 80%, 60%);
  --Soft-orange: rgb(255, 140, 102); /*(work)*/
  --Soft-blue: hsl(195, 74%, 62%); /*(play)*/
  --Light-red: hsl(348, 100%, 68%); /*(study*/
  --Lime-green: hsl(145, 58%, 55%); /*(exercise)*/
  --Violet: hsl(264, 64%, 52%); /*(social)*/
  --Yellow: hsl(43, 84%, 65%); /*(self care)*/
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100vh;
}
body {
  background-color: var(--Very-dark-blue);
  height: 100%;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  /* overflow-y: auto; */
}

.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 25.5rem);
  grid-template-rows: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.5rem;
  /* overflow: hidden; */
  animation: fadeIn 800ms ease-in-out;
}
.card-person {
  grid-row: 1/-1;
}
.card-person__info {
  height: 35.4rem;
  background-color: var(--Blue);
  padding: 3.2rem;
  border-radius: 1.5rem;
  z-index: 99;
  position: relative;
}

.card-person__name {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  line-height: normal;
}
.card-person__report {
  color: var(--Pale-Blue);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}
.card-person__picture {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 1rem 2rem rgb(51, 51, 51, 0.15);
  display: block;
  margin-bottom: 2rem;
}

.card-person__timeframes {
  background-color: var(--Dark-blue);
  height: 17.4rem;
  transform: translateY(-1rem);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 3.2rem;
}

.timeframes__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.1rem;
  height: 100%;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}
.timeframes__list-link:link,
.timeframes__list-link:visited {
  color: var(--Pale-Blue);
  text-decoration: none;
}
.timeframes__list-link.btn--active {
  color: #fff;
  font-weight: 500;
  transition: all 500ms;
}

/*Activity cards*/

.card-activity__image {
  background-repeat: no-repeat;
  background-position: top -8px right 20px;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 6rem;
}

.card-activity__text {
  padding: 3rem;
  color: #fff;
  border-radius: 1.5rem;
  background-color: var(--Dark-blue);
  transform: translateY(-1.5rem);
}
.card-activity__more {
  background-color: var(--Pale-Blue);
  display: inline-block;
  height: 2rem;
  width: 2rem;
  -webkit-mask-image: url(images/icon-ellipsis.svg);
  mask-image: url(images/icon-ellipsis.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  cursor: pointer;
}

.card-activity__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-activity__current {
  font-size: 5.6rem;
  font-weight: 300;
  line-height: normal;
  margin-top: 2.4rem;
}
.card-activity__previous {
  color: var(--Pale-Blue);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
}
.card-activity--orange .card-activity__image {
  background-image: url(images/icon-work.svg);
  background-color: var(--Soft-orange);
}
.card-activity--blue .card-activity__image {
  background-image: url(images/icon-play.svg);
  background-color: var(--Soft-blue);
}
.card-activity--red .card-activity__image {
  background-image: url(images/icon-study.svg);
  background-color: var(--Light-red);
}
.card-activity--green .card-activity__image {
  background-image: url(images/icon-exercise.svg);
  background-color: var(--Lime-green);
}
.card-activity--purple .card-activity__image {
  background-image: url(images/icon-social.svg);
  background-color: var(--Violet);
}
.card-activity--yellow .card-activity__image {
  background-image: url(images/icon-self-care.svg);
  background-color: var(--Yellow);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*MEDIA QUERIES*/
@media (max-width: 69.375em /*1110px*/) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 62.5em /*1000px*/) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em /*900px*/) {
  .cards-container {
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 25.5rem);
  }
  .card-person__timeframes {
    grid-column: 1/-1;
    height: 10rem;
  }
  .timeframes__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateY(5px);
  }

  .card-person {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .card-person__info {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .card-person__picture {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
  }
  .card-person__report {
    margin-left: 13rem;
  }
  .card-person__name {
    margin-left: 13rem;
  }
}

@media (max-width: 43.75em /*700px*/) {
  .cards-container {
    grid-template-rows: max-content;
    grid-template-columns: 90vw;
    top: 6rem;
    transform: translate(-50%, 0);
  }
}
